@model Hotel

@{
    string action = ViewData["Action"]!.ToString()!;
}

<form asp-action="@action">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address"></span>
    </div>
    <div class="mb-3">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <a asp-action="Index">Cancel</a>
        <span asp-validation-summary="All"></span>
    </div>
</form>