@model Hotel

<h1>Delete hotel</h1>

<p>Are you sure you want to delete @Model.Name?</p>

<form asp-action="ConfirmDelete" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Delete</button>
</form>