@model Hotel

<h1>Hotel details</h1>
<p>@Model.Name</p>
<p>Address: @Model.Address</p>



<a class="btn btn-link" asp-action="Index">Back</a>
<a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id" role="button">Edit</a>
<a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id" role="button">Delete</a>