@model IEnumerable<PetHotel.Web.Models.Hotel>

Whoah! Hotels here

<div>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</div>

<ul>
    @foreach (var hotel in Model)
    {
        <li>
            <a asp-action="Details" asp-route-id="@hotel.Id">@hotel.Name</a>
        </li>
    }
</ul>